<div class="word-container">
    <span *ngFor="let letter of word" class="word-letter">
        @if(guessedLetters.includes(letter)){
            <span>
                {{letter}}
            </span>
        }
        @else{
            @if(!ended){
                <span class="hidden-letter">
                    {{letter}}
                </span>
            }
            @else{
                <span class="missing-letter">
                    {{letter}}
                </span>
            }
        }
    </span>
</div>