<div class="game">
    <div [ngClass]="{'end-text': true, 'hidden': !ended}">
        @if(remaining===0){
            Lose
        }
        @else{
            Win
        }
    </div>
    <hangman-drawing [remaining]="remaining" [word]="wordToGuess" [guessedLetters]="guessedLetters">

    </hangman-drawing>
    <hangman-word [word]="wordToGuess.split('')" [guessedLetters]="guessedLetters">

    </hangman-word>
    <hangman-keyboard (guessEvent)="receiveKeys($event)" [enabled]="!ended" style="width:100%">

    </hangman-keyboard>
</div>