.hangman-drawing{
    position: relative;
    height: 216px;
    & .drawing-head{
        position: absolute;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        border: 8px solid black;
        top: 48px;
        right: -16px;
    }
    & .drawing-body{
        position: absolute;
        height: 60px;
        width: 8px;
        background: black;
        top: 85px;
        right: 0;
    }
    & .drawing-rarm{
        position: absolute;
        height: 8px;
        width: 60px;
        background: black;
        top: 110px;
        right: -60px;
        rotate: -30deg;
        transform-origin: left bottom;
    }
    & .drawing-larm{
        position: absolute;
        height: 8px;
        width: 60px;
        background: black;
        top: 110px;
        right: 8px;
        rotate: 30deg;
        transform-origin: right bottom;
    }
    & .drawing-rleg{
        position: absolute;
        height: 8px;
        width: 60px;
        background: black;
        top: 135px;
        right: -53px;
        rotate: 60deg;
        transform-origin: left bottom;
    }
    & .drawing-lleg{
        position: absolute;
        height: 8px;
        width: 60px;
        background: black;
        top: 135px;
        right: 0;
        rotate: -60deg;
        transform-origin: right bottom;
    }
    & .drawing-rope{
        position: absolute;
        height: 50px;
        width: 8px;
        background: black;
        top: 0;
        right: 0;
    }
    & .drawing-hook{
        height: 8px;
        width: 100px;
        background: black;
        margin-left: 55px;
    }
    & .drawing-pole{
        height: 50px;
        width: 8px;
        background: black;
        margin-left: 55px;
    }
    & .drawing-stand{
        height: 8px;
        width: 120px;
        background: black;
    }
}